<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Semaphore

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
        link(rel="stylesheet", href="style.css")
    body
        h1 Semaphore

        .container

            - for(x=0; x < 1; x++)
                .semaphore
                    .semaphore__light.semaphore__light--red
                    .semaphore__light.semaphore__light--yellow
                    .semaphore__light.semaphore__light--green